{% extends 'base.html' %}

{% block title %}Strata Issue Tracker{% endblock %}

{% block content %}
    {{ super() }}
    <div>
        <div>
            <a class="btn btn-warning" href="{{ url_for('new_issue') }}">Raise new issue</a>
        </div>
        <br>
        <br>
        <div>
            <table align="center" style="width:100%">
                <tr>
                    <td>Issue Number</td>
                    <td>Description</td>
                </tr>

                {% for x,y in result.items() %}
                    <tr>
                        <td>{{ x }}</td>
                        <td>{{ y }}</td>
                        <td><a href="{{ url_for('edit',id=x) }}">Edit</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

