{% extends 'base.html' %}

{% block title %}New Issue{% endblock %}

{% block content %}
    {{ super() }}
    <h2>Raise New Issue</h2>
    <form method="post" action = "">
        Description : <input type="text" name="description"><br><br>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Back</a>
        <input class="btn btn-secondary" type="submit" value="SAVE">
    </form>
{% endblock %}